PROJECT_NAME=magento-enterprise

MAGENTO_VERSION=2.4.9

MAGENTO_BASE_URL=http://magento-enterprise.local:8080

MAGENTO_PUBLIC_KEY=
MAGENTO_PRIVATE_KEY=

MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=magento
MYSQL_USER=magento
MYSQL_PASSWORD=magento

REDIS_PORT=6379

OPENSEARCH_INITIAL_ADMIN_PASSWORD=Magento@2026Strong!

RABBITMQ_DEFAULT_USER=magento
RABBITMQ_DEFAULT_PASS=magento

ADMIN_FIRSTNAME=Shubham
ADMIN_LASTNAME=Arya
ADMIN_EMAIL=admin@example.com
ADMIN_USER=admin
ADMIN_PASSWORD=Admin123@123

MAGENTO_LANGUAGE=en_US
MAGENTO_CURRENCY=USD
MAGENTO_TIMEZONE=Asia/Kolkata
